version: 2.1

commands:
  check_system:
    steps:
      - run:
          name: Check system
          command: df -h && echo "Cores = $(nproc --all)"
  setup_env:
    steps:
      - run:
          name: Setup environment
          command: |
            sudo apt-get --quiet update && sudo apt-get --quiet install git aria2 apt-utils -y
            echo "Configuring git"
            git config --global user.email "mpusfurrher@gmail.com"
            git config --global user.name "Mpusfurrher"
            git config --global credential.helper "cache --timeout=7200"
            echo "git identity setup successfully!"
            git clone https://gitlab.com/teguhpunya-projects/scripts.git --depth=1 --branch circleci
            sudo -s bash scripts/setup/android_build_env.sh >/dev/null
            sudo -s bash scripts/setup/install_android_sdk.sh >/dev/null
  setup_repos:
    steps:
      - run:
          name: Setup repos
          command: |
            echo "Current dir = $(pwd)"
            repo init --depth=1 -u git://github.com/minimal-manifest-twrp/platform_manifest_twrp_omni.git -b $TWRP_10_BRANCH
            repo sync -j$(nproc --all) --force-sync >/dev/null
            git clone https://gitlab.com/Teguhpunya/sync.git --depth=1
            mv sync/patch-manifest.diff $MANIFEST_BUILD_DIR/patch-manifest.diff
            cd $MANIFEST_BUILD_DIR
            echo "Current dir = $(pwd)"
            patch -p1 < patch-manifest.diff
            cd .. && echo "Current dir = $(pwd)"
            rm -rf bootable/recovery
            rm -rf vendor/recovery
            git clone --depth=1 $URL_RECOVERY -b $FOX_10_BRANCH bootable/recovery >/dev/null
            git clone --depth=1 $URL_VENDOR -b $FOX_10_BRANCH vendor/recovery >/dev/null
            git clone https://pop:$GITLAB_PASS@gitlab.com/Teguhpunya/android_device_xiaomi_ginkgo.git -b a10 --depth=1 device/xiaomi/ginkgo
  build:
    steps:
      - run:
          name: Build
          command: ./device/xiaomi/ginkgo/teskrip.sh

executors:
  machine-executor:
    machine:
      image: ubuntu-2004:202010-01
    working_directory: ~/project
    environment:
      DEBIAN_FRONTEND: noninteractive
      FOX_10_BRANCH: fox_10.0
      TWRP_10_BRANCH: twrp-10.0
      URL_RECOVERY: https://gitlab.com/OrangeFox/bootable/Recovery.git
      URL_VENDOR: https://gitlab.com/OrangeFox/vendor/recovery.git
      MANIFEST_BUILD_DIR: build

jobs:
  build-with-machine:
    executor: machine-executor
    steps:
      - checkout
      - check_system
      - setup_env
      - setup_repos
      - build
      - store_artifacts:
          path: out/target/product/ginkgo/OrangeFox-R11.0_1-Test-ginkgo.zip
          destination: OrangeFox-R11.0_1-Test-ginkgo.zip

workflows:
  build-with-machine:
    jobs:
      - build-with-machine:
          context: orangefox
